$primary : black;
$secondary : red;

.navbar{
  margin-bottom: 0px !important;
}

body{
  color: $primary;
  h1{
    color: $secondary;
  }
}
.my-nav{
  padding-top: 10px !important;
}
.sidenav {
height: 100%;
background-color: #fff3e6;
overflow-x: hidden;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
color: #818181;
display: block;
}

.sidenav a:hover {
color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.padding10 {
  margin:10px;
  font-size:12px !important;
}

.search {
  display: flex;
  width: 40%;
  position: absolute;
  left: 40%;
  transform: translate(-50%, -50%);
}

.searchTerm {
  font-family: "Roboto Light";
  font-style: italic;
  width: 100%;
  border: 3px solid #A9A9A9;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #000000;
}

.searchButton {
  font-family: "Roboto Light";
  width: 80px;
  height: 35px;
  border: 1px solid #A9A9A9;
  background: #A9A9A9;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.table-fixed{
  width: 100%;
  background-color: #f3f3f3;
  tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
  }
  thead,tbody,tr,td,th{
    display:block;
  }
  tbody{
    td{
      float:left;
    }
  }
  thead {
    tr{
      th{
        float:left;
        background-color: #fff3e6;
        border-color:#ffad54;
      }
    }
  }
}
