.info {
  background-color: antiquewhite;
  padding: 20px;
  font-family: "Roboto Light"; }

.padding-top3em {
  padding-top: 3em !important; }

.categorybox {
  margin: 10px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position:relative;}

.categorybox:hover {
  margin: 10px;
  height: 200px;
  box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position:relative;}

.cat-title{
  min-width: 100%;
  min-height:25%;
  height: 25%;
  position:absolute;
  top:0%;
  left:0;
}

.img-fit {
            min-width: 100%;
            min-height:75%;
            height: 75%;
            position:absolute;
            top:25%;
            left:0;}

.banner{
}