.info{
  background-color:antiquewhite;
  padding:20px;
  font-family:"Roboto Light";
}

.padding-top3em{
  padding-top:3em !important;
}

.categorybox{
  margin:10px;
  height:200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}